<br><br>
      <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 cambio">
                <div class="card carta" style="width: 18rem;">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFaB7wP4rzHKw/profile-displayphoto-shrink_800_800/0/1642548726267?e=1672272000&v=beta&t=gjLWOX59I4TFkzNVbOkYXv5k8D5WXDAwKI6CxuKnxUQ" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Manuel Albar Diaz</h5>
                      <p class="card-text">Desarrollador web, estudiante en ingenieria en sistemas de informacion.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4"></div>
        </div>
      </div>
<br><br>
