<div class="container-fluid pagina"><h3 class="acerca border-bottom titulo" id="portfolio"> Portfolio </h3>
    <div class="row">
        <div class="col-4 pad">
            <img class="imagen" src="https://cdn.pixabay.com/photo/2022/10/16/19/19/girl-7525969_960_720.jpg" alt="" width="100%" height="100%">
        </div>
        <div class="col-4 pad">
            <img class="imagen" src="https://cdn.pixabay.com/photo/2022/10/24/05/24/houses-7542665_960_720.jpg" alt="" width="100%">
        </div>
        <div class="col-4 pad">
            <img class="imagen" src="https://cdn.pixabay.com/photo/2022/10/24/17/50/mountains-7544027_960_720.jpg" alt="" width="100%">
        </div>
    </div>
    <br><br>
</div>
