<br><br><br>
    <div id="formulario"> 
        
        <h3 class="border-bottom acerca titulo">Contactame</h3>
        <div class="container ">
            <br><br>
        <form action="https://formspree.io/f/xgeqnpyn" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre y Apellido</label>
                <input type="text"  name="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Numero de telefono</label>
                <input type="text"  name="numero" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form> 
        <br><br><br><br>
    </div>
    </div>